/* Cor animation text in the First seciton */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body{
    font-family:'Roboto';
   
  }
header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}
/* header.sticky{
    background: #3a6cf4;
} */
.main {
    background-image:url("/img/background.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    animation: animateBackground 10s linear infinite;
    color: white;
    font-size: 2.26rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding-left: 10%;
  
}
.socialMed {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
}
svg:hover{
    transform: scale(1.4) ;
    transition-duration:1s ;
    
}
/*  For animinations in the main page */
.animation {
    height: 80px;
    overflow:hidden;
    
}
.animation > div > div {
    font-size: xx-large;
    text-align: center;
    width: 100% ;
    padding: 0.25rem 0.75rem;
    height: 5 rem;
    margin-bottom: 2.81rem;
    display:inline-block;
}

.animation div:first-child {
  animation: text-animation 7s infinite;
}

.first div {
    border-radius: 20px;
    background-color:#728813;
}
.second div {
    border-radius: 10px;
    background-color:#CD921E;
}
.third div {
    border-radius: 10px;
    background-color:#710a7a;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}
/* For about section */

.about {
    padding-top: 5vh;  
    width: 100%;
}
.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.aboutme-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10vh;
}
.aboutme-content-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10vh
}
.sectionsHeading{
    font-weight: 400%;
    font-size: 250%;
    text-decoration: underline;
    text-underline-offset: 10px;
    color:rgb(13,110,253);
}
.line {
    height: 10%;
}
.aboutme-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro{
    font-weight: 400%;
    font-size: 250%;
}

#myName {
    font-weight: 400%;
    font-size: 250%;
    font-family:fantasy;
    padding-top: 1px;
    color: antiquewhite;
}
/* .adj {
    font-size:medium;
    color:black;
    text-align:start;
} */
/* 
.profilePicture {
    padding-left: 25vh;
    padding-top: 20px;
} */
#profilePicture:hover{
    transform: scale(1.6) ;
    transition-duration:1s ;
}
.text-primary {
    color: black;
    text-align:justify;
    font-size: larger;
}
.activities{
    height: 90vh;
    width: 100vh;

}
.contact{
    height: 80vh;
}
.contacts{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    gap: 10vh;
}
.contacts-items{
    margin-top: 8vh;
    height: 30vh;
    width: 30vh;
}
.contacts-items-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contacts-items-text {
    display: flex;  
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    padding-top: 10px;
}
/* .addressAndPhone {
    display: flex;
}
.address, .phoneNumber,.emailAddress{
    display: flex;
    justify-content: center;
    align-items: center;

} */
.form-content{
    justify-content: center;
    align-items: center;
    width: 90vh;
    height: 70vh;
    margin-top:15vh;


    /* margin-top:15vh ;
    margin-left: 10vh;
    margin-right: 10vh ;
    height: 60vh; */
}

form{
    height: 90vh;
    padding-left: 10vh;
    padding-right: 10vh;
}
#sendMessage {
    color: rgb(70, 64, 64);
    font-size:30px;
    margin-top: 20px;
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;

}
.form-control {
    padding-left: 10vh;
}
#form-name, #form-email {
    height: 19%;
}
#form-message {
    height: 30vh;
}
footer{
    margin-top: 50px;
    height: 50vh;
}