/* Cor animation text in the First seciton */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@media  screen and (max-width:600px) {
    body {
        background-color: antiquewhite;
    }
    
}
@media  screen and (max-width:900) and (min-width: 600px) {
    #main {
        background-color: antiquewhite;
    }
    
}
@media screen and (min-width: 900px) {
    footer {
        background-color: rgb(88, 88, 98);
    }
    
}
body{
    font-family:'Roboto';
    width: 100%;
}
header {
    position: fixed;
    width: 100%;
    top: 1;
    z-index: 1000;
}
header.sticky{
    background: #9db1e6;
}

.main {
    background-image:url("/img/background/background.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    animation: animateBackground 10s linear infinite;
    color: white;
    font-size: 2.26rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 810px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding-left: 10%;
  
}
.socialMed {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
}
svg:hover{
    transform: scale(1.4) ;
    transition-duration:1s ;
    
}
/*  For animinations in the main page */
.animation {
    height: 80px;
    overflow:hidden;
    
}
.animation > div > div {
    font-size: xx-large;
    text-align: center;
    width: 100% ;
    padding: 0.25rem 0.75rem;
    height: 5 rem;
    margin-bottom: 2.81rem;
    display:inline-block;
}

.animation div:first-child {
  animation: text-animation 7s infinite;
}

.first div {
    border-radius: 20px;
    background-color:#728813;
}
.second div {
    border-radius: 10px;
    background-color:#CD921E;
}
.third div {
    border-radius: 10px;
    background-color:#710a7a;
}



@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}
/* For about section */

.about {
    padding-top: 50px;  
    width: 100%;
}
.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
#aboutme {
    padding-bottom: 10%;
}
.aboutme-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.aboutme-content-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:50px;
}
#paragraph-text {
    font-family: 'Roboto';
}
.sectionsHeading{
    font-weight: 400%;
    font-size: 250%;
    text-decoration: underline;
    text-underline-offset: 10px;
    color:rgb(13,110,253);
}
.line {
    height: 10%;
}
.aboutme-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro{
    font-weight: 400%;
    font-size: 250%;
}

#myName {
    font-weight: 400%;
    font-size: 250%;
    font-family: 'Chakra Petch', sans-serif;
    padding-top: 1px;
    color: antiquewhite;
}

#profilePicture:hover{
    transform: scale(1.6) ;
    transition-duration:1s ;
}
.text-primary {
    color: black;
    text-align:justify;
    font-size: larger;
}

.skills{
    background-color: rgb(12, 12, 11);
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}

.skills-title {
    margin-bottom: 40px;
}

/* checks the overflow of the activities boxes when shrunk */
 @media screen and (max-width:990px) {
    .skills {
        height: 1500px;
    }
 }

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    height: 300px;
    border: 0px;
    border-radius: 20px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 0px;
    border-radius: 20px;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border: 0px;
    border-radius: 20px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
    border: 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .progress {
    margin-right: 10%;
  }
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border: 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
  li {
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    list-style-type: none;

  }
.activities{
    width: 100%;
    background-color: #633974 ;

}
.activities-title {
    margin-bottom: 30px;
    margin-top: 20px;
}
.activities-items-pics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.activities-items-descriptions {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.activities-items-descriptions-text{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
    overflow: auto;
    max-width: 100%;
}
.paragraph-text {
    max-height: 400px; /* Set the maximum height of the element */
    overflow-y: auto; /* Add a vertical scrollbar when the content overflows */
    padding-right: 15px; /* Add some padding to prevent the content from overlapping the scrollbar */
  }
  
  .paragraph-text::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
    background-color: #f5f5f5; /* Set the background color of the scrollbar */
  }
  
  .paragraph-text::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 3px; /* Round the corners of the scrollbar thumb */
  }
  

.carousel{
    border: 1px solid rgb(251, 244, 244);
    height: 400px;
    border-radius: 30px;
}
.carousel-inner{
    height: 100%;
    width: 100%;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    gap: 10%;
}
.carousel-control-prev,.carousel-control-next{
    height: 20px;
    width: auto;
    top: 92.5%;
    margin-top: 5px;

}
.carousel-control-next {
    right: 44%;
}
.carousel-control-prev {
left: 40%;
}
@media screen and (max-width:780px){
    .carousel-control-next {
        right: 39%;
    }
    .carousel-control-prev {
    left: 39%;
    }
}

.contact {
    margin-top: 60px;
}
.contacts{
    margin-top: 5px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    gap: 50px;
}
.contacts-items{
    margin-top: 50px;
    height: 200px;
    width: 300px;
}
.contacts-items-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contacts-items-text {
    display: flex;  
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    padding-top: 10px;
}
.form-content{
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px ;
    margin-top: 70px;
    margin-bottom: 30px;
}

form{
    height: 500px;
    padding-left: 50px;
    padding-right: 50px;
}
.sendMessage {
    padding-bottom: 50px;
}
#sendMessage {
    color: rgb(70, 64, 64);
    font-size:30px;
    margin-top: 30px;
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}
.form-control {
    padding-left: 50px;
    height: 50px;
}

#form-message {
    height: 230px;
}
/* .form-control[value="Your Name"],
.form-control[value="Your email"],
.form-control[value="Message"] {
  color: #0400f8;
  margin-left:5px ;
} */
.btn{
    width: 100%;
}
#goTop {
    border-radius: 8px;
    border: 0;
    height:40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    float: right;
    right: 5px;
    bottom: 10px;
}

/* checls the footer section  */
footer{
    background-color: black;
    float:bottom;
    width: 100%;
    height: 150px;
    margin-top: 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
